<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo list</title>
</head>
<body>
    <div id="app" class="container">
        <h1>{{title}}</h1>
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a v-bind:class="[navLinkClass, {active: showTodo}]" href="#" @click="test1()">TODO</a>
                    </li>
                    <li class="nav-item">
                        <a v-bind:class="[navLinkClass, {active: showDoing}] " href="#" @click="test2()">DOING</a>
                    </li>
                    <li class="nav-item">
                        <a v-bind:class="[navLinkClass, {active: showDone}] " href="#" @click="test3()">DONE</a>
                    </li>
                </ul>
            </div>
            <template v-if="showTodo">
                <div class="card-block">
                    <a href="#" class="btn btn-success">add</a>
                </div> 
            </template>
            <template v-if="showDoing">
                <div class="card-block">
                    list
                </div> 
            </template>
            <template v-if="showDone">
                <div class="card-block">
                    list
                </div> 
            </template>
        </div>
        <footer>
            <small class="text-muted">
                © 2017 guanpu
            </small>
        </footer>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="todo-list.js"></script>
</body>
</html>