<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo list</title>
</head>
<body>
    <div id="app" class="container">
        <h1>{{title}}</h1>
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a v-bind:class="[navLinkClass, {active: showTodo}]" href="#" @click="test1()">
                            TODO <span class="badge badge-default badge-pill">14</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a v-bind:class="[navLinkClass, {active: showDoing}] " href="#" @click="test2()">DOING</a>
                    </li>
                    <li class="nav-item">
                        <a v-bind:class="[navLinkClass, {active: showDone}] " href="#" @click="test3()">DONE</a>
                    </li>
                </ul>
            </div>
            <div class="card-block" v-if="showTodo">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="todo...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" @click="test4()">add</button>
                        </span>
                    </div>
                </div>
            </div>  
            <div class="card-block" v-if="showDoing">
                list
            </div> 
            <div class="card-block" v-if="showDone">
                list
            </div>          
        </div>
        <footer>
            <small class="text-muted">
                © 2017 guanpu
            </small>
        </footer>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="todo-list.js"></script>
</body>
</html>